/* Angela Vargas - Assignment 12.2 - CSD340 */

/* Page font */
body {
    font-family: "Times New Roman", Times, serif;
    font-weight: normal; 
}

/* Center h1 */
h1 {
    text-align: center;
    font-weight: bold; 
}

/* Flex container for boxes */
.flex-container {
    display: flex;
    justify-content: space-between; 
    margin: 20px 10px;              
    flex-wrap: wrap;                 
}

.box {
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    width: 45%;                      
    max-width: none;                 
    box-sizing: border-box;        
}
/* Solid red border for left box (like ordered list style) */
.solid-box {
    border: 1px solid red;
}

/* Dashed red border for right box (like unordered list style) */
.dashed-box {
    border: 1px dashed red;
}

/* Styling h3 inside boxes */
h3 {
    font-weight: 500; 
}

/* Lists inside boxes */
ol, ul {
    font-weight: 300;          
    padding: 10px;
    list-style-position: inside;
}

/* Ordered list style */
ol, ol + h3 {
    border-radius: 15px;       
}

/* Unordered list style */
ul, ul + h3 {
    list-style-type: upper-roman;
    border-radius: 15px;
}

/* Buttons */
button {
    margin: 5px 2px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
}

/* Horizontal line styling inside boxes */
hr {
    border: none;
    border-top: 2px solid #555; /* dark grey */
    margin: 10px 0;
}


a {
    display: block;
    margin-top: 20px;
    text-align: right;          
    color: rgba(0, 100, 0, 1);  
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

.section-line {
    border: none;
    border-top: 2px solid #555; /* grey line */
    width: 100%;                 
    margin: 10px 0 20px 0;      